<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VACS 9 | Donate</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style>
    table, th, td {
      border: 2px  solid black;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <img src="/images/VACS 9 LOGO.png" alt="" width="35" height="35" class="d-inline-block align-text-top">
    <a href="/index" class="navbar-brand"><b>&nbsp; VACS 9</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/index" class="nav-link">Home</a>
        <a href="/register" class="nav-item nav-link" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Register|Log-in</a>
        <a href="/stats" class="nav-item nav-link">Stats</a>
      </div>
    </div>
  </nav>
  

  <!-- Enter code here -->
  

  <h1 style="text-align: center; background-color: black; color: white;">DONATE</h1>
  <p style="text-align: center;font-size: 200%; font-family: cursive, 'Times New Roman', Times, serif;">"It doesn't matter how much we donate,<br>it matters whether the donation is meaningful."</p>
  <br>
  <table style="width: 60%;margin-left: 20%; font-size: x-large;">
    <tr>
      <th>Account No. (SBI):</th>
      <td>xxxxxxxxxxx</td>
    </tr>
    <tr>
      <th>Account Name:</th>
      <td>Vaccine Fund</td>
    </tr>
    <tr>
      <th>IFSC Code:</th>
      <td>xxxxxxxxx</td>
    </tr>
    <tr>
      <th>Branch Name:</th>
      <td>Main Branch SBI(New Delhi, India)</td>
    </tr>
  </table>
  <br>
  <p style="text-align: center; font-size: 200%;">OR</p>
  <p style="background-color: black; color:white; text-align: center; font-size: 150%; width: 70%;margin-left: 15%;">DONATE DIRECTLY HERE USING CARD</p>
  <br>
  <div class="container" style="margin-left: 37%;">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: black;">
                    <h3 class="panel-title" style="color: white;">
                        Payment Details
                    </h3>
                    
                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group"><div class="form-group">
                      <label for="cardNumber">
                          Enter Amount (&#8377;)</label>
                      <div class="input-group">
                          <input type="text" class="form-control" id="cardNumber" placeholder="5000"
                              required autofocus />
                      </div>
                  </div>
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">
                            Card Holder's Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Name"
                                required autofocus />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            
            <br/>
            <a href="#" class="btn btn-success btn-lg btn-block" role="button">Pay Now</a>
        </div>
    </div>
</div>

  <br><br><br><br><br><br><br>
  <footer class="bg-dark text-center text-white fixed-bottom">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1 disabled" href="/donate" role="button">Donate | Support</a>

        <a class="btn btn-outline-light btn-floating m-1" href="/help" role="button">Help | Connect</a>

        <a class="btn btn-outline-light btn-floating m-1" href="/reach_us" role="button">Reach-Us</a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright: Team Binary Beasts
    </div>
  </footer>



</body>

</html>
