<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VACS 9 | HOME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <img src="/images/VACS 9 LOGO.png" alt="" width="35" height="35" class="d-inline-block align-text-top">
    <a href="/" class="navbar-brand"><b>&nbsp; VACS 9</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/register" class="nav-item nav-link" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Register|Log-in</a>
        <a href="/stats" class="nav-item nav-link">Stats</a>
      </div>
    </div>
  </nav>

  <footer class="bg-dark text-center text-white fixed-bottom">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="/donate" role="button"
          >Donate | Support</a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="/help" role="button"
          >Help | Contact</a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="/connect" role="button"
          >Connect</a>
  
        <a class="btn btn-outline-light btn-floating m-1 disabled" href="#" role="button"
          >Reach-Us</a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright: Team Binary Beasts
    </div>
  </footer>


    
</body>

</html>